.menu{
    width: 25%;
    /*margin-right: 20px;*/
    height: 100%;
    border-right: 1px solid #999;
}

.title{
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 2.1rem;
    padding:20px;
}

.navigation{
    display: flex;
    flex-direction: column;
}

.navLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color:#999;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
}

.navLink:hover{
    background:#ddd;
    color:#000;
}

.navLink small{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color:#000;
    font-family: 'Arial',sans-serif;
    background:#90A877FF;
    border-radius: 50%;
}