.posts{

}

.addPosts{
    padding:20px;
    margin-bottom: 40px;
    text-align: right;
}

.addPosts input{
    display: block;
    width: 100%;
    height: 30px;
    border:1px solid #999999;
    margin-bottom: 10px;
}

.inputBlock{
    min-height: 60px;
    margin-bottom: 10px;
}

.textareaBlock{
    min-height: 110px;
    margin-bottom: 10px;
}



.addPosts textarea {
    width: 100%;
    min-height: 80px;
    display: block;
    margin-bottom: 10px;
}

.addPosts button{
    height: 30px;
}

.postsContainer{

}

.postsItem{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.postsItemContent{
    max-width: 80%;
}

.postTitle{
    margin-bottom: 10px;
}

.btnsBlock button{
    background: none;
    border:none;
    cursor: pointer;
    transition: .3s;
}

.btnsBlock button:active{
    transform: scale(.7);
}

.btnsBlock{
    position: absolute;
    right: 20px;
    top: 20px;
}